<?xml version="1.0"?>
<config>
  <modules>
    <Oneyhosting_Payment>
      <version>0.1.0</version>
    </Oneyhosting_Payment>
  </modules>

  <global>
    <fieldsets>
      
    </fieldsets>
        
    <helpers>
      <oney>
        <class>Oneyhosting_Payment_Helper</class>
      </oney>
    </helpers>
        
    <blocks>
      <oney>
        <class>Oneyhosting_Payment_Block</class>
      </payment>
    </blocks>
        
     <models>
      <oney>
        <class>Oneyhosting_Payment_Model</class>
      </oney>
    </models>    
        
    <resources>
      <payment_setup>
        <setup>
          <module>Oneyhosting_Payment</module>
        </setup>
      </payment_setup>
    </resources>
  </global>    
</config>
